@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-10 offset-xl-1">
            <div class="row">
                <div class="col-lg-6">
                    <div>
                        <h2>Alexander Paunski</h2>
                        <p>I'm a C# Web Developer</p>
                    </div>
                    <div>
                        <h2>General Info</h2>
                        <ul>
                            <li><span>Date of Birth: </span>30 January 1997</li>
                            <li><span>Address: </span>Bulgaria, Sofia</li>
                            <li><span>E-mail: </span>adskidolen@mail.bg</li>
                            <li><span>Phone: </span>+359 884 695 169</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <figure>
                        <img src="~/images/me.jpg" alt="5" />
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>