@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-controller="Account" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home")" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item active">
                <a class="nav-link" asp-controller="Comments" asp-action="Left">Hello, @UserManager.GetUserName(User)!</a>
            </li>
            <li class="nav-item active">
                <button type="submit" class="btn btn-link navbar-btn nav-link text-light">Logout</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item active">
            <a class="nav-link" asp-controller="Account" asp-action="Register">Register</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" asp-controller="Account" asp-action="Login">Login</a>
        </li>
    </ul>
}