
@{
    ViewData["Title"] = "Gallery";
}

<h2 class="text-center">Gallery</h2>
<div class="container-fluid mt-3 mx-auto d-flex justify-content-center">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col">
                    <figure class="figure">
                        <img src="~/images/pic1.jpg" class="figure-img img-fluid rounded" />
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-light" href="~/images/pic1.jpg" download="~/images/pic1.jpg">Download Image</a>
                        </div>
                    </figure>
                    <figure class="figure">
                        <img src="~/images/pic2.jpg" class="figure-img img-fluid rounded" />
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-light" href="~/images/pic2.jpg" download="~/images/pic2.jpg">Download Image</a>
                        </div>
                    </figure>
                    <figure class="figure">
                        <img src="~/images/pic3.jpg" class="figure-img img-fluid rounded" />
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-light" href="~/images/pic3.jpg" download="~/images/pic3.jpg">Download Image</a>
                        </div>
                    </figure>
                </div>
                <div class="col">
                    <figure class="figure">
                        <img src="~/images/pic4.jpg" class="figure-img img-fluid rounded" />
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-light" href="~/images/pic4.jpg" download="~/images/pic4.jpg">Download Image</a>
                        </div>
                    </figure>
                    <figure class="figure">
                        <img src="~/images/pic5.jpg" class="figure-img img-fluid rounded" />
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-light" href="~/images/pic5.jpg" download="~/images/pic5.jpg">Download Image</a>
                        </div>
                    </figure>
                    <figure class="figure">
                        <img src="~/images/pic6.jpg" class="figure-img img-fluid rounded" />
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-light" href="~/images/pic6.jpg" download="~/images/pic6.jpg">Download Image</a>
                        </div>
                    </figure>
                </div>
                <div class="col">
                    <figure class="figure">
                        <img src="~/images/pic8.jpg" class="figure-img img-fluid rounded" />
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-light" href="~/images/pic7.jpg" download="~/images/pic7.jpg">Download Image</a>
                        </div>
                    </figure>
                    <figure class="figure">
                        <img src="~/images/pic7.jpg" class="figure-img img-fluid rounded" />
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-light" href="~/images/pic8.jpg" download="~/images/pic8.jpg">Download Image</a>
                        </div>
                    </figure>
                    <figure class="figure">
                        <img src="~/images/pic9.jpg" class="figure-img img-fluid rounded" />
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-light" href="~/images/pic9.jpg" download="~/images/pic9.jpg">Download Image</a>
                        </div>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>